baseURL = "https://braindump.jethro.dev/"
languageCode = "en-us"
title = "Jethro's Braindump"
theme = "cortex"

[params]
email = "jethrokuan95@gmail.com"

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      attribute = true
      autoHeadingID = true
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xHTML = false

  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "github"
    tabWidth = 4

[outputFormats]
  [outputFormats.Embed]
    baseName = "embed"
    isPlainText = false
    isHTML = true
    mediaType = "text/html"
    permalinkable = true
  [outputFormats.Page]
    baseName = "page"
    isPlainText = false
    isHTML = true
    mediaType = "text/html"
    permalinkable = true

[outputs]
  home = ["HTML", "RSS"]
  page = ["HTML", "EMBED", "PAGE"]
