body { color: var(--body-text-color); background-color: var(--background-color);}
.main-color { color: var(--main-color); }
.secondary-color { color: var(--secondary-color); }
.bg-main-color { background-color: var(--main-color); color: var(--logo-text-color); }
.heading-font, .global-font { font-family: "Source Sans Pro"; }
.heading-color { color: var(--heading-text-color); }
.post-content a, .list-pages a, .pagination a {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-decoration: none;
  color: inherit;
}
.post-title {
  font-size: 2.2em;
  font-weight: 900;
}

main a:hover, .list-pages a:hover, .pagination a:hover, #tag-cloud a:hover { 
  border-bottom: 1px solid var(--body-text-color);
  color: var(--body-text-color);
}
.content-width { max-width: 750px; }

body {
  font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0px;
  color: var(--main-color);
  font-weight: 600;
}

pre {
  font-size: 0.9em;
  padding: 10px 20px 10px 20px;
  overflow: auto;
  line-height: 1.25em;
}

p code {
  padding: .25rem .5rem;
  font-size: 0.9em;
  background-color: #f8f8f8;
}

#tag-cloud { max-width: 250px; }
#contents-list>.toc-list { 
  max-width: 250px; 
  overflow: hidden;
  position: fixed;
  right: 2rem;
}
@media (min-width: 1200px) {
  #contents-list>.toc-list, #tag-cloud  { 
    display: block; 
    top: 100px;
  }
  #tag-cloud {
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
  }
}
@media (min-width: 1330px) { #contents-list>.toc-list { max-width: 300px; right: 3rem;}}
#contents-list ol { list-style: none; }

figure {
  margin: 2em 1em;
}
img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 2px 2px #bbb;
}
figcaption { 
  text-align: center;
  margin-top: 0.5em;
}

blockquote {
  border-left-style: solid;
  border-left-width: 1px;
  border-color: var(--secondary-color);
  border-width: .25rem;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  padding-left: 1rem;
}

blockquote p {
  color: #666;
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
}

blockquote p>cite {
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .1em;
  font-size: .875rem;
  display: block;
}

table {
  font-size: 14px;
  border-collapse:collapse;
  margin: 2rem auto;
  padding:0;
}

table tr {
  border-top:1px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

table tr:nth-child(2n) {
  background-color:#f8f8f8;
}
table tr th[align="center"], table tr td[align="center"] {
  text-align:center;
}
table tr th, table tr td {
  border:1px solid #ccc;
  text-align:left;
  margin:0;
  padding:6px 13px;
}

/* Org-mode specific things */

.todo {
  background-color: green;
  color: white;
  text-transform: uppercase;
  padding: 2px;
}

/* Numbered Headings */
body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
