{{ if .Site.Params.showtoc | default true }}
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
{{ $has_headers := ge (len $headers) 1 }}
{{ if and $has_headers (ne .Params.toc false) }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.css">
<style>.is-active-link::before { background-color: var(--secondary-color); }</style>
{{ end }}
{{ end }}

{{ if or (.Site.Params.showTagCloud | default true) (.Site.Params.showtoc | default true) (.Site.Params.showScrollToTop | default true) }}
<script type="text/javascript">
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;

  {{ if .Site.Params.showTagCloud | default true }}
  if (document.getElementById("tag-cloud") !== null) { 
    if (prevScrollpos > currentScrollPos) { // scroll up
      document.getElementById("tag-cloud").style.visibility = "visible";
      document.getElementById("tag-cloud").style.opacity = "1";
    } else {
      document.getElementById("tag-cloud").style.visibility = "hidden";
      document.getElementById("tag-cloud").style.opacity = "0";
    }
  }
  {{ end }}

  {{ if .Site.Params.showScrollToTop | default true }}
  if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
      document.getElementById("scroll-to-top").style.display = "inline";
      document.getElementById("scroll-to-top").style.visibility = "visible";
      document.getElementById("scroll-to-top").style.opacity = "1";
  } else {
      document.getElementById("scroll-to-top").style.visibility = "hidden";
      document.getElementById("scroll-to-top").style.opacity = "0";
  }
  {{ end }}
  prevScrollpos = currentScrollPos;
}
{{ if .Site.Params.showScrollToTop | default true }}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
{{ end }}

{{ if .Site.Params.showtoc | default true }}
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
{{ $has_headers := ge (len $headers) 1 }}
{{ if and $has_headers (ne .Params.toc false) }}
if (document.getElementById("contents-list") !== null && document.getElementsByClassName("post-content").length !== 0) { 
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: '#contents-list',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.post-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h1, h2, h3',
  });
}
{{ end }}
{{ end }}
</script>
{{ end }}

{{ if .Params.math }}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{{end}}

{{partial "syntax_highlight.html" . }}
