{{ define "main" }}
<main class="center mv4 content-width ph3">
  <p class="i">{{ .Site.Params.Description }}</p>
  <p class="i">Contact me at: <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a></p>
  <hr/>
  <ul class="list pa0">
    {{ range .Pages }}
    <li class="mb2">
      <a class="f4 heading-color heading-font fw6 no-underline" href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="f5 mt1 silver">
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
        {{ if or .Params.tags .Params.categories }} | {{ end }}
        {{ if isset .Params "categories" }}
        categories: [ {{ range .Params.categories }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
        {{ if isset .Params "tags" }}
        tags: [ {{ range .Params.tags }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
      </span>
    </li>
    {{ end }}
  </ul>
</main>
{{ partial "tag_cloud.html" . }}
{{ end }}
